.gallery-wrapper {

    width: 100%;
    position: relative;
}

.galleryBg {
    width: 100vw;
    position: relative;
    left: calc(-1 * clamp(20px, 5vw, 100px));
    background: var(--main-color);
}