.review-Wrapper {

    width: 100%;
    position: relative;
}

.rieview-bg {
    width: 100vw;
    position: relative;
    left: calc(-1 * clamp(20px, 5vw, 100px));
    background: var(--main-color);
}

.rieview-bg .review {
    height: fit-content;
    padding: clamp(40px, 6vw, 94px) clamp(20px, 15vw, 304px);
}

.rieview-bg .review .num_more {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space80);
}

.rieview-bg .review .myReview {
       flex-shrink: 0;
    display: flex;
    padding:  clamp(18px, 3vw, 26px) clamp(6px, 2vh, 12px);
    gap: clamp(20px, 2vw, 40px);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--point-color);
}
.user-icon{
    flex-shrink: 0;
}

.rieview-bg .review .myReview input {
    flex: 1;
    height: clamp(40px, 5vw, 56px);
    font-size: var(--body7-size);
    font-weight: 500;
    line-height: 150%;
    border-radius: 100px;
    background: rgba(241, 241, 241, 0.50);
    padding: 10px clamp(0px,1vw,40px);
}

.rieview-bg .review .userReview {
    display: flex;
    flex-direction: column;
}

.rieview-bg .review .userReview li {
    display: flex;
    color: var(--white);
    padding:  clamp(18px, 3vw, 26px) clamp(6px, 2vh, 12px);
    border-bottom: 1px solid var(--sub-color);
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 2vw, 40px);
    word-break: keep-all;
}

.rieview-bg .review .userReview .userReviewContents {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rieview-bg .review .userReview .userReviewContents .userReviewTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rieview-bg .review .userReview .userReviewContents .userReviewTop .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px,1vw,30px);
}

.icons .heart-container{
    
}