@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    font-family: var(--pretendard);
}

button {
    border: none
}

/* reset */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* font-family: "Pretendard Variable", sans-serif;
 */
:root {
    --pretendard: "Pretendard Variable", sans-serif;
    --main-color: #2D2D2D;
    --point-color: #EEB831;
    --sub-color: #E1DDCE;
    --navy: #25245E;
    --brown: #6B4E2E;
    --light-gray1: #E5E5E5;
    --light-gray2: #959595;
    --gray1: #7D7D7D;
    --gray2: #4C4C4C;
    --black: #111;
    --white: #fff;
    --white-l : #f1f1f1;
    --red : #D82121;

    /* Heading Sizes */
    --h2-size: clamp(30px, 4vw, 50px);
    --h3-size: clamp(26px, 3.2vw, 40px);
    --h4-size: clamp(20px, 2.2vw, 30px);
    --h5-size: clamp(18px, 2vw, 26px);
    --h6-size: clamp(16px, 1.6vw, 20px);

    /* Body Text Sizes */
    --body1-size: clamp(80px, 5vw, 90px);
    --body2-size: clamp(70px, 5vw, 80px);
    --body3-size: clamp(60px, 5vw, 70px);
    --body4-size: clamp(24px, 3.2vw, 40px);
    --body5-size: clamp(20px, 2.4vw, 30px);
    --body6-size: clamp(18px, 2vw, 24px);
    --body7-size: clamp(16px, 1.6vw, 20px);
    --body8-size: clamp(14px, 1.4vw, 16px);

    /* Button Text Sizes */
    --button1-size: clamp(16px, 1.6vw, 20px);
    --button2-size: clamp(14px, 1.5vw, 18px);

    --space80 :clamp(30px, 10vh, 80px);
    --space40: clamp(20px, 5vw, 40px);
}

h2 {
    font-size: var(--h2-size);
    font-weight: 600;
    line-height: 150%;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;
    line-height: 130%;
}

h4 {
    font-size: var(--h4-size);
    font-weight: 400;
    line-height: 130%;
}

h5 {
    font-size: var(--h5-size);
    font-weight: 600;
    line-height: 130%;
}

h6 {
    font-size: var(--h6-size);
    font-weight: 600;
    line-height: 130%;
}

.b4 {
    font-size: var(--body4-size);
    font-weight: 700;
    line-height: 150%;
}

.b5 {
    font-size: var(--body5-size);
    font-weight: 500;
    line-height: 130%;
}

.b6 {
    font-size: var(--body6-size);
    font-weight: 500;
    line-height: 150%;
}

.b6l {
    font-size: var(--body6-size);
    font-weight: 400;
    line-height: 150%;
}

.b7 {
    font-size: var(--body7-size);
    font-weight: 500;
    line-height: 150%;
}

.b8 {
    font-size: var(--body8-size);
    font-weight: 400;
    line-height: 130%;
}

.bu1 {
    font-size: var(--button1-size);
    font-weight: 400;
    line-height: 130%;
}

.bu2 {
    font-size: var(--button2-size);
    font-weight: 400;
    line-height: 130%;
}

body {
    font-family: var(--pretendard);
    color: var(--black);
    background-color: var(--sub-color);
    overflow-y: scroll;
      overflow-x: hidden;
}

