body.Casting {
    background: var(--white-l);
}

.CastingWrap {
    width: 100%;
    padding: clamp(60px, 8vw, 80px) clamp(16px, 15vw, 200px) clamp(100px, 10vw, 150px) clamp(16px, 15vw, 200px);
    ;
}

.CastingWrap .castingall {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 8vw, 70px);
    justify-content: center;
    align-items: center;
}

.castingall .top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.castingall .top .casttit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(4px, 1vw, 8px);
    font-size: var(--h3-size);
}

.castingall .top .casttit h3 {
    line-height: 150%;
}

.castingall .top .casttit .b4 {}

.castingall .top .btns {
    width: fit-content;
    display: flex;
    gap: clamp(10px, 3vw, 20px);
}

.Button_whitemidbtn {
    word-break: keep-all;
}

.castinglist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.castinglist>li {
    margin-left: clamp(8px, 2vw, 20px);
    margin-bottom: clamp(8px, 2vw, 20px);
    border: 1px solid var(--black);
    border-radius: 20px;
    width: clamp(280px, 50vw, 410px);
    height: fit-content;
    padding: clamp(12px, 3vw, 32px);
    position: relative;
    cursor: pointer;
    background: var(--white);
}

.castinglist>li .num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 4vw, 56px);
    height: clamp(24px, 2.5vw, 32px);
    background: var(--point-color);
    border-radius: 5px;
    position: absolute;
    top: clamp(8px, 2vw, 20px);
    right: clamp(8px, 2vw, 20px);
    font-size: var(--body8-size);
    color: var(--white);
}
.castinglist>li:last-child .num{
    background: var(--light-gray2);
}
.castinglist>li .txt{

}

.castinglist>li .txt .b8{
    color: var(--brown);
    margin-bottom: clamp(6px,1vw,10px);
}

.castinglist>li .txt .b6{
    margin-bottom: clamp(4px,1vw,6px);
}
.castinglist>li .txt ul{
    padding-left: clamp(8px, 2vw, 20px);
    color: var(--gray2);
    margin-bottom: 4px;
}
.castinglist>li .txt li{
    list-style: disc;
}
.castinglist>li .txt .b8:last-child{
    width: 100%;
    text-align: right;
    margin-bottom: 0;
}

.castingall .pager{
    display: flex;
    width: fit-content;
    gap: clamp(8px,1.5vw,14px);
    justify-content: center;
    align-items: center;
}

.castingall .pager img{
    width: var(--icon34);
    height: var(--icon34);
    cursor: pointer;
}

.castingall .pager .pagenum{
    display: flex;
    gap: clamp(12px,2vw,26px);
    font-size: var(--body6-size);
    color: var(--light-gray2);
}
.castingall .pager .pagenum li{
    cursor: pointer;
}

.castingall .pager .pagenum li.active{
    color: var(--black);
}