.UploadListWrap {
    background: yellowgreen;
    width: 100%;
    padding: 0 clamp(16px, 50vw, 196px);
}

.UploadListWrap .list {
    width: 100%;
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(18px, 5vw, 32px);
}

.UploadListWrap .list li {
    display: flex;
    flex-direction: column;
    width: clamp(280px, 80vw, 640px);
}

.UploadListWrap .list li>img {
    margin-bottom: clamp(16px, 3vw, 24px);
    width: ;
}