.footer {
    width: 100%;
    padding: clamp(12px, 2vh, 20px) clamp(20px, 5vw, 100px);
    color: var(--gray2);
    position: relative;
    z-index: 10;
}

.footer .topfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(8px, 1.5vh, 16px) clamp(20px, 5vw, 100px);
    border-bottom: 1px solid var(--gray2);
}

.footer .topfooter>img {
    width: clamp(164px, 16vw, 180px);
    height: auto;
}

.footer .topfooter .info {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 5vw, 12px);
}

.footer .topfooter .info li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(6px, 5vw, 10px);
}

.footer .topfooter .info li img {
    width: clamp(16px, 6vw, 24px);
    height: auto;
}

.footer .topfooter .info li div {}

.footer .topfooter .right {
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 5vw, 12px);
}

.footer .topfooter .right ul {
    display: flex;
    text-align: center;
    gap: clamp(6px, 5vw, 10px);
    justify-content: center;
}

.footer .topfooter .fnav li h6 {}

.footer .copy {
    margin-top: clamp(10px,3vh,16px);
}

.footer .copy .ft {}