.header {
    width: 100%;
}

.top {
    width: 100%;
    height: clamp(80px, 12vw, 122px);
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: clamp(12px, 2vw, 18px) clamp(40px, 6vw, 100px) 0 clamp(40px, 6vw, 100px);
}

.top .nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: clamp(4px, 2vw, 20px);
}

.top .nav .MainLogo img {
    width: clamp(120px, 20vw, 160px);
    aspect-ratio: 16 / 9;
    height: auto;
}

.top .nav .gnb {
    display: flex;
    gap: clamp(16px, 4vw, 36px);
    align-items: center;
    color: var(--light-gray2);
    padding-bottom: clamp(8px, 2vw, 16px);
}

.top .nav .gnb a {
    transition: 0.3s linear;
}

.top .nav .gnb a:hover {
    color: var(--black);
}

.top .nav .gnb .active {
    color: var(--black);
}

.top .lefticon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(14px, 3vw, 30px);
    padding-bottom: clamp(8px, 2vw, 16px);
}

.top .lefticon img {
    width: clamp(20px, 4vw, 34px);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.top .hamMenu {
    display: none;
    width: clamp(20px, 4vw, 34px);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.UploadDashboard-header {
    background-color: var(--white);
}

.upload-header{
    background-color: var(--white-l);
}

.uploadlist-header{
    background-color: var(--white-l);
}

@media (max-width: 750px) { 
    .top .nav .gnb {
        display: none;
    }
    .top .lefticon {
        display: none;
    }
    .top .hamMenu {
        display: block;
    }
}